html,
body {
  margin: 0;
}

body {
  padding: 20px;
  width: 300px;
  background-color: #fbf4e7;
}

.theme-selection {
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
}

#theme-btn {
  cursor: pointer;
  text-decoration: underline;
}

p {
  margin: 0;
  font-size: 0.8rem;
  font-weight: bold;
}

.first-container {
  margin: 10px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

input {
  flex: 1;
  height: 30px;
  padding: 0px 10px;
  background-color: transparent;
  border: 2px solid rgb(56 169 45);
  border-radius: 10px;
  outline: none;
}

button {
  height: 30px;
  padding: 5px 20px;
  border-radius: 10px;
  cursor: pointer;
  background-color: rgb(56 169 45);
  border: none;
  color: white;
}

button:hover {
  background-color: rgb(37, 124, 29);
}

#website-list {
  max-height: 200px;
  overflow: auto;
  margin-top: 5px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.list-item {
  display: flex;
  justify-content: space-between;
}

.delete-btn {
  color: rgb(236, 26, 54);
  text-decoration: underline;
  cursor: pointer;
}
